* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

#wrap {
  width: 100%;
  margin: 0 auto;
  background: #EEE;
  overflow: hidden;
}

header {
  position: relative;
  background-color: #333;
  height: 6rem;
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
}

h1 {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.25rem;
  color: white;
}

.navButton {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.navButton .material-symbols-rounded {
  color: #FFF;
  font-size: 2rem;
}

nav {
  position: relative;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(64,64,64,.7);
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
}

.menu li {
  height: 3rem;
  border-bottom: solid 1px #AAA;
}

.menu a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  color: #FFF;
}

.menu a:hover {
  background-color: #222;
}

article {
  padding: 3rem;
}

article p {
  text-align: justify;
  color: #555;
}

footer {
  background-color: #333;
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: #FFF;
}

@media all and (min-width: 1025px) {
  #wrap {
    width: 80%;
    max-width: 1000px;
  }
 
}
